@import '../../styles/mixin';
@import '../../styles/variables';

.dropdown {
  display: flex;
  position: absolute;
  z-index: 1;
  top: 60px;
  left: 0;
  justify-content: flex-start;
  width: 100%;
  min-width: 500px;
  padding: 30px 30px 30px 142px;
  border-top: 1px solid rgb(219, 219, 219);
  background-color: $secondary-color;

  .dropdown-sub {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 180px;
    min-width: 180px;
    gap: 15px;
    &:hover {
      cursor: pointer;
    }
  }

  .main-category-all {
    @include textStyle(15px, 500);
  }

  .subcategory {
    @include textStyle(15px, 400);
  }
}
