@import '../../styles/mixin';
@import '../../styles/variables';

.review {
  padding-left: 40px;

  .divider {
    height: 1px;
    border: none;
    background-color: rgb(208, 208, 208);
  }

  .top {
    margin-bottom: 30px;
  }

  .bottom {
    margin-top: 30px;
  }

  .section-title {
    @include textStyle(20px, 500);
    display: flex;
    gap: 10px;

    .toggle-btn {
      height: 10px;
      margin: auto 0;

      &:hover {
        cursor: pointer;
      }
    }
  }
  .reviews-container {
    width: 50%;
    min-width: 680px;
    margin: 30px 0;

    .review-posted {
      width: 100%;
      margin: 25px 0;
      padding: 20px;
      border-radius: 10px;
      background-color: rgb(250, 250, 250);

      .review-top {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        .username {
          @include textStyle(17px, 600);
          margin-bottom: 10px;
          color: $primary-color;
        }

        .timestamp {
          @include textStyle(15px, 400);
          margin-bottom: 15px;
          color: rgb(188, 188, 188);
        }
      }

      .trash {
        @include textStyle(15px, 500);
        color: rgb(117, 117, 117);
      }
    }

    .review-text {
      @include textStyle(17px, 400);
      color: $primary-color;
      line-height: 28px;
    }

    .review-textarea {
      @include textStyle(16px, 400);
      display: block;
      width: 100%;
      height: 80px;
      margin: 0;
      padding: 10px;

      padding-top: 20px;
      border: 1.5px solid #e0e0e0;
      border-radius: 5px;
      outline: none;
      color: $primary-color;
      resize: none;

      &::placeholder {
        @include textStyle(16px, 400);
        color: #9c9c9c;
      }
    }
  }
}
