@import '../../styles/mixin';
@import '../../styles/variables';

.main {
  display: flex;
  flex-direction: column;
  padding: 0 50px 100px 50px;

  .main-video {
    width: 100%;
    aspect-ratio: 2/1;
    object-fit: cover;
  }

  .message-cta {
    @include textStyle(18px, 500);
    @include flexCenter;
    width: 160px;
    height: 40px;
    margin: auto;
    border-radius: 50px;
    background-color: $primary-color;
    color: $secondary-color;
    &:hover {
      transition: 0.3s ease-in-out;
      border: 1px solid $primary-color;
      background-color: $secondary-color;
      color: $primary-color;
      cursor: pointer;
    }
  }

  .carousel {
    overflow: hidden;

    .carousel-btn {
      display: flex;
      justify-content: flex-end;
      gap: 15px;
      margin-bottom: 15px;

      .left-btn,
      .right-btn {
        @include flexCenter;
        width: 40px;
        height: 40px;
        border-radius: 50px;
        background-color: #e5e5e5;
        .arrow-left,
        .arrow-right {
          width: 8px;
        }
        &:hover {
          transition: 0.4s ease-in-out;
          background-color: #b4b4b4;
          cursor: pointer;
        }
      }
    }

    .plant-cards {
      display: flex;
      gap: 20px;
      transition: 0.8s ease-in-out;
    }
  }

  .interior-image-container {
    overflow: hidden;
  }

  .interior-image-flex {
    display: flex;
    width: 1400vw;
    transition: all 1s;
  }

  .interior-image-box {
    position: relative;
    width: 100vw;
  }

  .main-interior-image {
    width: 93.5%;
    aspect-ratio: 2/1;
    object-fit: cover;
  }

  .interior-left-btn {
    position: absolute;
    top: 45%;
    width: 50px;
    height: 50px;
    border: none;
    background-color: transparent;
  }

  .interior-right-btn {
    position: absolute;
    top: 45%;
    right: 100px;
    width: 50px;
    height: 50px;
    border: none;
    background-color: transparent;
  }

  .arrow-box {
    width: 50%;
  }

  .pot-cards {
    @include flexCenter;
    flex-wrap: wrap;
    gap: 15px;
  }
}
