@import '../../../styles/mixin';

.cart-box {
  display: flex;
  padding: 25px 0 20px 0;
  border-bottom: 1px solid #dfdfdf;

  .cart-img {
    width: 35%;
    margin-right: 21px;
  }

  .btn {
    @include textStyle(17px, 500);
    padding: 0;
    border: none;
    background-color: white;
  }

  .cart-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }

  .count {
    display: flex;
    align-items: center;
  }

  .btn-box {
    width: 20px;
  }

  .content-text {
    margin: 0 5px;
    font-size: 17px;
  }

  .img {
    width: 100%;
  }

  .total {
    display: flex;
    flex-direction: column-reverse;
  }
}
