@import '../../../styles/mixin';
@import '../../../styles/variables';
.cart-box {
  display: flex;
  padding: 25px 0 20px 0;
  border-bottom: 1px solid #dfdfdf;

  .cart-img {
    width: 200px;
    margin-right: 21px;
  }

  .cart-btn {
    @include textStyle(17px, 500);
    width: 30px;
    height: 30px;
    padding: 0;
    border: none;
    background-color: #e5e5e5;
  }

  .cart-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
  }

  .cart-name {
    @include textStyle(20px, 500);
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }

  .count {
    display: flex;
    align-items: center;
    gap: 4px;
  }

  .delete-btn {
    @include textStyle(16px, 500);
    border: none;
    background-color: $secondary-color;
    color: #969696;
  }

  .btn-box {
    @include flexCenter;
    width: 25px;
    height: 25px;
  }

  .content-text {
    margin: 0 5px;
    font-size: 17px;
  }

  .img {
    width: 100%;
  }

  .arrow-img {
    width: 50%;
  }

  .total {
    display: flex;
    flex-direction: column-reverse;
  }
}
