@import '../../styles/mixin';
@import '../../styles/variables';

.product-list {
  display: flex;
  justify-content: space-between;
  padding: 40px 50px;

  .side-menu {
    min-width: 250px;
  }

  .main-product-list {
    width: 100%;

    .product-cards {
      display: flex;
      flex-wrap: wrap;
      margin-top: 30px;
    }
  }
}
