@import '../../styles/mixin';
@import '../../styles/variables';

.cart {
  @include textStyle(20px, 500);
  min-height: 1300px;
  padding: 40px;

  .cart-title {
    margin-bottom: 46px;
    font-size: 30px;
  }

  .cart-container {
    display: flex;
    margin-top: 10px;
  }

  .cart-main {
    width: 60%;
    margin-right: 40px;
  }

  .cart-aside {
    width: 40%;
    padding-top: 25px;

    .aside-title {
      margin-bottom: 42px;
      font-size: 25px;
    }

    .price {
      padding: 10px 0;
      border-bottom: 1px solid #dfdfdf;
    }

    .price-sort {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin: 15px 0;
    }

    .total-price {
      padding: 10px 0 10px 0;
    }

    .btn {
      width: 100%;
      margin-top: 30px;
      padding: 15px;
      border: none;
      background-color: $primary-color;
      color: $secondary-color;
      font-size: 20px;
    }
  }
}

.alert-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  padding: 25px 0;
  background-color: #ffe8e8;
  color: #ff0000;
  text-align: center;

  .alert-btn {
    border: none;
    background-color: #ffe8e8;
    color: #ff0000;
  }
}
