@import '../../styles/mixin';

.toast {
  @include flexCenter;
  position: absolute;
  top: 460px;
  width: 470px;
  padding: 10px 0;
  animation-name: fadeout;
  animation-duration: 3.1s;
  background-color: #ffe8e8;
  color: #ff0000;
  font-size: 15px;
  font-weight: bold;
  text-align: center;

  @keyframes fadeout {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}
