@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin textStyle($fontSize, $fontWeight) {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: $fontSize;
  font-weight: $fontWeight;
}
