@import '../../styles/mixin';
@import '../../styles/variables';

.main-plant-card {
  width: 350px;
  min-width: 350px;

  .plant-image {
    width: 100%;
    margin-bottom: 10px;
  }
  .card-cta-primary {
    @include textStyle(18px, 500);
    @include flexCenter;
    bottom: 20px;
    left: 20px;
    width: 130px;
    height: 40px;
    border-radius: 50px;
    background-color: $primary-color;
    color: $secondary-color;
    &:hover {
      transition: 0.3s ease-in-out;
      border: 1px solid $primary-color;
      background-color: $secondary-color;
      color: $primary-color;
      cursor: pointer;
    }
  }
}
