@import '../../styles/mixin';
@import '../../styles/variables';

.product-detail {
  @include textStyle(20px, 500);
  display: flex;
  padding: 40px;

  .img {
    width: 100%;
  }

  .product-img {
    width: 50%;
    margin-right: 70px;
  }

  .p-tag {
    margin-bottom: 70px;
  }

  .product-content {
    width: 40%;
    margin-top: 20px;

    .count-container {
      display: flex;
      align-items: center;
      margin-top: 110px;
    }

    .title {
      margin: 100px 0 40px 0;
      font-size: 30px;
    }

    .btn {
      width: 35px;
      height: 35px;
      border: none;
      border-radius: 50%;

      &:hover {
        cursor: pointer;
      }
    }

    .count-box {
      @include flexCenter;
      width: 100px;
      height: 50px;
      margin: 0 5px;
      border: 1px solid #e3e3e3;
      border-radius: 5px;
      text-align: center;
    }

    .cart-btn {
      @include flexCenter;
      width: 100%;
      margin: 40px auto;
      padding: 35px;
      border: none;
      border-radius: 40px;
      background-color: $primary-color;
      color: $secondary-color;
      font-size: 20px;
    }

    .wishlist-btn {
      @include flexCenter;
      width: 100%;
      margin-top: 20px;
      padding: 35px;
      border: 1px solid #e3e3e3;
      border-radius: 40px;
      background-color: $secondary-color;
      color: $primary-color;
      font-size: 20px;

      &:hover {
        border: 1px solid $primary-color;
      }

      .icon {
        position: relative;
        top: -1px;
        left: 10px;
      }
    }
  }
}

.modal-box {
  @include flexCenter;
  @include textStyle(20px, 500);
  visibility: hidden;
  position: fixed;
  z-index: 100;
  top: 0;
  width: 100vw;
  height: 100vh;
  transition: all 1s;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.2);

  .modal {
    @include flexCenter;
    flex-direction: column;
    width: 700px;
    height: 400px;
    background-color: $secondary-color;

    .logo-img {
      width: 150px;
      height: 70px;
      object-fit: contain;
    }

    .btn-box {
      display: flex;
      justify-content: space-around;
      margin-top: 30px;
    }

    .btn:nth-child(1) {
      margin-bottom: 20px;
      padding: 15px 30px;
      border: none;
      background-color: $primary-color;
      color: $secondary-color;
    }

    .btn:nth-child(2) {
      margin-bottom: 20px;
      padding: 15px 30px;
      border: none;
      background-color: rgba(0, 0, 0, 0.5);
      color: $secondary-color;
    }
  }
}

.wishlist {
  visibility: hidden;
  position: fixed;
  z-index: 100;
  top: 60px;
  width: 100vw;
  height: 100vh;
  transition: all 1s;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

.wishlist-modal {
  @include textStyle(17px, 500);
  position: fixed;
  top: 60px;
  right: 50px;
  width: 25%;
  padding: 20px;
  background-color: $secondary-color;

  .wishlist-modal-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

    .close-btn {
      border: none;
      background-color: $secondary-color;
      color: $primary-color;
    }
  }

  .wishlist-modal-content {
    display: flex;

    .img-box {
      width: 30%;
      margin-right: 10px;
    }

    .img {
      width: 100%;
    }
  }

  .btn {
    @include textStyle(14px, 500);
    width: 100%;
    margin-top: 10px;
    padding: 15px;
    border: none;
    border-radius: 50px;
    background-color: $primary-color;
    color: $secondary-color;
  }
}

.visible {
  visibility: visible;
  transition: all 1s;
  opacity: 1;
}
