@import '../../styles/mixin';
@import '../../styles/variables';

.product-detail {
  @include textStyle(20px, 500);
  display: flex;
  padding: 40px;

  .img {
    width: 100%;
  }

  .product-img {
    width: 65%;
    margin-right: 40px;
  }

  .p-tag {
    margin-bottom: 70px;
  }

  .product-content {
    width: 40%;
    margin-top: 20px;

    .count-container {
      display: flex;
      align-items: center;
      margin-top: 110px;
    }

    .title {
      margin: 100px 0 40px 0;
      font-size: 25px;
    }

    .btn {
      width: 35px;
      height: 35px;
      border: none;
      border-radius: 50%;

      &:hover {
        cursor: pointer;
      }
    }

    .count-box {
      @include flexCenter;
      width: 100px;
      height: 35px;
      margin: 0 5px;
      border: 1px solid #e3e3e3;
      border-radius: 5px;
      text-align: center;
    }

    .cart-btn {
      @include flexCenter;
      width: 100%;
      margin: 40px auto;
      padding: 35px;
      border: none;
      border-radius: 40px;
      background-color: $primary-color;
      color: $secondary-color;
      font-size: 20px;
    }
  }
}

.modal-box {
  @include flexCenter;
  @include textStyle(20px, 500);
  visibility: hidden;
  position: fixed;
  z-index: 100;
  top: 0;
  width: 100vw;
  height: 100vh;
  transition: all 1s;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.2);

  .modal {
    @include flexCenter;
    flex-direction: column;
    width: 700px;
    height: 400px;
    transition: all 0.5s;
    opacity: 1;
    background-color: $secondary-color;

    img {
      width: 150px;
      height: 70px;
      object-fit: contain;
    }

    button:hover {
      cursor: pointer;
    }

    .btn-box {
      display: flex;
      justify-content: space-around;
      margin-top: 30px;
    }

    .btn:nth-child(1) {
      margin-bottom: 20px;
      padding: 15px 30px;
      border: none;
      background-color: $primary-color;
      color: $secondary-color;
    }

    .btn:nth-child(2) {
      margin-bottom: 20px;
      padding: 15px 30px;
      border: none;
      background-color: rgba(0, 0, 0, 0.5);
      color: $secondary-color;
    }
  }
}

.hidden {
  visibility: visible;
  transition: all 1s;
  opacity: 1;
}
