@import '../../styles/mixin';

.product-detail {
  @include textStyle(20px, 500);
  display: flex;
  padding: 40px;

  .img {
    width: 100%;
  }

  .product-img {
    width: 65%;
    margin-right: 40px;
  }

  .p-tag {
    margin-bottom: 70px;
  }

  .product-content {
    width: 40%;
    margin-top: 20px;

    .count-container {
      display: flex;
      align-items: center;
      margin-top: 110px;
    }

    .title {
      margin: 100px 0 40px 0;
      font-size: 25px;
    }

    .btn {
      width: 35px;
      height: 35px;
      border: none;
      border-radius: 50%;

      &:hover {
        cursor: pointer;
      }
    }

    .count-box {
      @include flexCenter;
      width: 100px;
      height: 35px;
      margin: 0 5px;
      border: 1px solid #e3e3e3;
      border-radius: 5px;
      text-align: center;
    }

    .cart-btn {
      @include flexCenter;
      width: 100%;
      margin: 40px auto;
      padding: 35px;
      border: none;
      border-radius: 40px;
      background-color: black;
      color: white;
      font-size: 20px;
    }
  }
}
