@import '../../styles/mixin';
@import '../../styles/variables';

.checkout-toast {
  width: 100%;
  margin-top: 10px;
  padding: 10px 0;
  background-color: #ffe8e8;
  color: #ff0000;
  font-size: 15px;
  text-align: center;
}
