@import '../../styles/mixin';
@import '../../styles/variables';

.checkout-title {
  margin-bottom: 46px;
  padding: 40px 40px 0px 40px;
  font-size: 30px;
  font-weight: 500;
}
.checkout {
  @include textStyle(18px, 500);
  display: flex;
  justify-content: center;
  width: 100vw;
  padding: 40px;

  .article-checkout {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 60%;

    .section-delivery-infomation {
      display: flex;
      flex-direction: column;

      .user-information-h2 {
        margin-bottom: 50px;
        font-size: 25px;
      }

      .user-information-values {
        display: flex;
        flex-direction: column;

        .user-name-value {
          margin: 0.4em 0em;
        }

        .user-address-value {
          margin-bottom: 0.4em;
        }

        .user-phone-value {
          margin-bottom: 0.4em;
        }
      }
    }

    .section-payment-point {
      display: flex;
      flex-direction: column;
      margin-top: 2em;

      .remaining-point-h2 {
        margin-bottom: 0.8em;
      }

      .remaining-point-value {
        margin-bottom: 0.4em;
      }
    }

    .section-order-list {
      margin-top: 2em;

      .order-list-ul {
        width: 100%;
      }
    }
  }

  .aside-checkout {
    display: flex;
    flex-direction: column;
    width: 40%;

    .checkout-h2 {
      margin-bottom: 42px;
      font-size: 25px;
    }

    .product-price {
      display: flex;
      justify-content: space-between;
      margin: 15px 0;
    }

    .delivery-fees {
      display: flex;
      justify-content: space-between;
      margin: 15px 0;
    }

    .total-price {
      display: flex;
      justify-content: space-between;
      margin: 15px 0;
      padding-top: 30px;
      border-top: 1px solid #dfdfdf;
    }

    .checkout-btn {
      width: 100%;
      height: 60px;
      margin-top: 30px;
      border-radius: 50px;
      background-color: $primary-color;
      color: $secondary-color;
    }
  }
}
