@import '../../styles/mixin';
@import '../../styles/variables';

.checkout-modal {
  @include flexCenter;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  border: 1px solid #dfdfdf;
  backdrop-filter: blur(5px);

  .modal {
    display: flex;
    z-index: 1;
    flex-direction: column;
    width: 500px;
    height: 500px;
    padding: 60px;
    border-radius: 50px;
    background-color: $primary-color;
    color: $secondary-color;

    .modal-btn {
      width: 200px;
      height: 40px;
      margin-left: 90px;
      border: 1px solid #dfdfdf;
      border-radius: 50px;
      background-color: $primary-color;
      color: $secondary-color;
    }

    .p-div {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .checkout-info {
        margin: 10px;

        &:first-child {
          margin-bottom: 30px;
          margin-left: 90px;
          font-size: 30px;
        }

        &:last-child {
          margin: 100px 0px 0px 90px;
        }
      }
    }
  }
}
