@import '../../styles/mixin';
@import '../../styles/variables';

.nav {
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-width: 1020px;
    height: 60px;
    padding: 0 50px;

    .logo {
      height: 30px;
      &:hover {
        cursor: pointer;
      }
    }
    .menus {
      @include textStyle(18px, 500);
      @include flexSpaceBetween;

      .menu {
        width: 180px;
        text-align: center;

        &:hover {
          cursor: pointer;
        }
      }
    }

    .icons {
      @include flexSpaceBetween;
      min-width: 170px;

      .icon {
        height: 25px;
        &:hover {
          cursor: pointer;
        }
      }
    }

    .login-btn {
      @include textStyle(15px, 500);
      width: 65px;
      height: 30px;
      border: 1px solid $primary-color;
      border-radius: 50px;
      background-color: $secondary-color;
      color: $primary-color;
      &:hover {
        transition: 0.4s ease-in-out;
        background-color: $primary-color;
        color: $secondary-color;
        cursor: pointer;
      }
    }
  }
}

.display-none {
  display: none;
}
