@import '../../../styles/mixin';

.product-recommend {
  padding: 40px;
  @include textStyle(20px, 500);

  .img {
    width: 100%;
  }

  .recommend-container {
    display: flex;
    margin-top: 20px;

    .recommend {
      width: 30%;
      margin-right: 20px;

      .title {
        margin: 10px 0;
      }
    }
  }
}
