@import '../../../styles/mixin';

.product-recommend {
  @include textStyle(20px, 500);
  padding: 40px;

  .recommend {
    width: 33%;
    margin-right: 10px;

    .title {
      margin: 10px 0;
    }
  }

  .img-box {
    padding: 0;
    border: none;
  }

  .img {
    width: 100%;
  }

  .hidden {
    position: absolute;
    left: 0;
    transition: all 0.8s;
    opacity: 0;

    &:hover {
      transition: all 0.8s;
      opacity: 1;
    }
  }
}
